[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = "*"
python-dotenv = "*"
langchain = "==0.0.330"
openai = "==0.28.0"
pypdf = "*"
tiktoken = "*"
faiss-cpu = "*"
unstructured = "*"
pdf2image = "*"
"pdfminer.six" = "*"
opencv-python = "*"
pandas = "*"
"unstructured.pytesseract" = "*"
unstructured-inference = "*"
librosa = "*"
crepe = "*"
tensorflow = "*"
google-search-results = "*"
numexpr = "*"
langchain-experimental = "*"

[dev-packages]

[requires]
python_version = "3.9"
